/* ---- text-type ---- */

.text-title {
  font-weight: 600;
}

.text-subtitle {
  font-weight: 500;
}

.text-label {
  font-weight: 400;
}

.text-p {
  user-select: text;
  font-weight: 200;
}

.text-button {
  font-weight: 300;
}

/* ---- text-transform ---- */

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* ---- text-color ---- */

.text-primario {
  color: var(--fuente);
}

.text-secundario {
  color: var(--fuente-secundaria);
}

.text-terciario {
  color: var(--fuente-terciaria);
}

.text-color-primario {
  color: var(--primario);
}

.text-color-secundario {
  color: var(--secundario);
}

/* ---- text-size ---- */

.text-extra-small {
  font-size: 13px;
}

.text-small {
  font-size: 18px;
}

.text-pre-medium {
  font-size: 21px;
}

.text-medium {
  font-size: 34px;
}

.text-large {
  font-size: 40px;
}

.text-auto {
  font-size: 100%;
}
