.section {
  position: relative;
  padding-inline: 2%;
}

.article {
  max-width: calc(100% - 40%);
  width: 100%;
  min-width: 500px;
  height: 100%;
  padding-block: 1%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-start;
}

.aside {
  max-width: calc(100% - 60%);
  width: 100%;
  min-width: 300px;
  height: 100%;
  padding-block: 1%;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.containerButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
