.container {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.slider {
  width: 100%;
  height: 100%;
  gap: 15px;
}

.sliderButtons {
  width: 100%;
  justify-content: flex-start;
  gap: 15px;
}
