.container {
  width: 100%;
  height: 8%;

  padding-inline: 2em;

  justify-content: space-between;
}

.nav {
  padding-inline: 10px;
}

.ul {
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.link,
.active {
  position: relative;
  background: var(--fondo);
  padding: 0.2em 0.7em;
  transition: ease 0.2s;
}

.link:is(:hover, :active),
.active:is(:hover, :active) {
  color: var(--fuente-secundaria);
}

.link:hover {
  cursor: pointer;
}

.link::after,
.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background-color: var(--primario);
  transition: transform ease 0.2s;
}

.link:hover::after,
.active::after {
  transform: scaleX(1);
}
